.search {
  font-family: Avenir, sans-serif;
  color: rgba(61, 78, 97, 1);
  line-height: 100%;
  background: rgba(255, 255, 255, 1);
  background-image: url(../../../images/Search.svg);
  background-repeat: no-repeat;
  box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);
  border: 1px solid rgba(225, 231, 237, 1);
  width: 100%;
}

.search--big {
  margin-top: 20px;
  background-position: 26px center;
  background-size: 19px 19px;
  font-size: 16px;
  padding: 25px 62px;
  height: 70px;
}

.search--small {
  background-position: 13px center;
  background-size: 11px 11px;
  font-size: 14px;
  padding: 12px 33px;
  height: 42px;
}

.search:hover {
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
}

.search:focus {
  font-weight: 700;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  outline: none;
}
